body {
    overflow-x: hidden;
    background-color: #2b2b2b !important;
    color: white !important;
}

.navbar {
    font-size: 1.5vw;
}

.navbar-brand {
    padding-left: 5%;
}

.nav-item:hover {
    background-color: slategray;
}

.col-md-9 {
    padding-top: 25px;
}

.col-md-3 {
    background-color: blue;
}
.site-construction-message {
    background-color: yellow;
    font-size: 3.5vw;
    color: black;
    text-align: center;
    width: 100%;
    position: relative;
    z-index: 10;
    border: black dashed 10px;

}

.item-tag-Linkedin a {
    display: inline-block;
    height: 25px;
    min-width: 30px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'Myriad', sans-serif;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none; /* Removes underline from links */
    color: inherit; /* Keeps the text color consistent */
    background-color: #0077b5;
    margin-top: 10px;
    margin-left: 5px;
}

.item-tag-Linkedin a:hover {
    background-color: #e8e8e8;
    color: black;
}