html body {
    background-color: rgb(55, 55, 55);
}


table, th,td {
    border: 1px solid black;
}
  
  
  
body .navbar .navbar-brand {
    color: white;
}

.navbar {
    background-color: rgb(55, 55, 55);
    position: fixed;
    width: 100%; /* Ensure it spans the full width */
    top: 0; /* Position at the top */
    z-index: 1000;
}

.navbar-brand {
    color: white;
}

.navbar-nav a{
    color: white;
}

.nav-link:hover {
    background-color: lightgrey;
    color: black;
}
  
.container {
    margin-top: 70px;
    background-color: rgb(55, 55, 55);
}

#react-data-table {
    border: black solid;
}

.container p {
    color: white;
    
}

.col-md-3 {
    color: white;
    padding: auto;
}